#root {
  width: 100%;
  min-height: 100%;
  font-family: 'Pretendard-Regular';
}
body {
  width: 100%;
  background-color: aliceblue;
}
.wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px 20px;
  box-sizing: border-box;
}
.DiaryEditor {
  width: 100%;
  padding: 50px 30px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}
.DiaryEditor h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.title {
  margin-bottom: 20px;
}
.lbl {
  margin-bottom: 10px;
  font-weight: bold;
  color: #2e2e2e;
}
.title input {
  display: block;
  width: 100%;
  height: 45px;
  padding: 0 10px;
  border: none;
  background-color: rgb(237, 247, 255);
  border-radius: 4px;
  font-family: 'Pretendard-Regular';
  font-size: 16px;
  box-sizing: border-box;
}
.content {
  margin-bottom: 30px;
}
.content textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  background-color: #edf7ff;
  border-radius: 4px;
  font-family: 'Pretendard-Regular';
  font-size: 16px;
  resize: none;
  box-sizing: border-box;
}


/* 셀렉박스 */
.selectBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectBox .lbl {
  margin-right: 15px;
  margin-bottom: 0;
}
.selectBox select {
  width: 150px;
  height: 30px;
  padding: 0 5px;
  border: 1px solid #4f4f4f;
  border-radius: 5px;
  background-color: #edf7ff;
  box-sizing: border-box;
}
.selectBox select:focus {
  border-color: #222;
}
.selectBox select option {
  padding: 10px 0;
  background-color: #fff;
}


/* 저장 버튼 */
.btn_sumit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 45px;
  margin: 30px auto 0;
  background-color: rgb(0, 153, 255);
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  box-shadow: 1px 1px 12px 0px rgb(0 0 0 / 8%);
  cursor: pointer;
  box-sizing: border-box;
}


/* --------------------
       일기 리스트 
-----------------------*/
.DiaryList {
  width: 100%;
  padding: 50px 30px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}

/* 리스트 */
.list__title {
  margin-bottom: 30px;
  text-align: center;
}
.list__total {
  margin-bottom: 25px;
}
.item__inner {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 12px 0px rgb(0 0 0 / 8%);
  box-sizing: border-box;
}
.item__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.item__num {

}
.item__date {
  margin-left: 5px;
  font-weight: 300;
  color: #a5a5a5;
  white-space: nowrap;
}
.item__bottom {
  padding-top: 15px;
  border-top: 2px dashed #d6d6d6;
}
.item__author {
  margin-bottom: 5px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item__emotion {
  margin-top: 10px;
  color: #2e2e2e;
}

.item__content {
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.btn_delete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 35px;
  margin-top: 20px;
  background-color: rgb(0, 153, 255);
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
}
@media (max-width: 500px) {
  .DiaryList {
    padding: 30px 20px;
    margin-top: 30px;
  }
  .list__title {
    margin-bottom: 20px;
  }
  .list__total {
    margin-bottom: 15px;
  }
  .item__top {
    display: block;
  }
  .item__author {
    margin-bottom: 5px;
  }
  .item__date {
    margin-left: 0;
    margin-bottom: 15px;
    font-size: 14px;
    white-space:normal;
  }
}
